@font-face {
    font-family: myfont;
    src: url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

  .header {
    width: 100%;
    height: 300px;
    background-color: #78557c;
  }

  .topheader {
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px dotted #F9FAF8;
    gap: 8px;
    margin: 16px;
}

ul {
    flex: 1 auto;
    display: flex;
    gap: 12px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.vd {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 1000;
    flex-grow: 1;
}

#nego {
    width: 180px;
    height: 100px;
    margin: 16px;
    box-shadow: 20% #07090c;
    border-radius: 10%;
}

.underheader {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 3px 3px 0px rgba(26, 25, 25, 0.884);
}
.textarea {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    color: #F9FAF8;

}

.address {
    margin-top: 12px;
}

.button1 {
    margin-top: 12px;
    border: none;
    background-color: #f63868;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    width: 150px;
}

.info {  
    width: 100%;
    margin-top: 10%;
    display: flex;
    gap: 8px;
    flex-direction: column;
   align-items: center;
    margin-bottom: 36px;
    box-shadow: 0px 0px 4px 0px rgba(58, 58, 58, 0.884);
}
.adicional {
    justify-self: center;
    font-size: 2.5rem;
    font-family: myFont, arial;
    color: #06152e;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 100%;
}
#products-title {
    color: #E5E7EB;
}
.info-header {
    font-family: myFont, arial;
    font-size: 1.5rem;
    font-weight: 1000;

}

.info-food img {
    border: 8px solid #498192;
    border-radius: 10px;
    padding: 10px;
}

.testimony {
    
    width: 80%;
    background-color: #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    margin: 16px;
    box-shadow: 0px 0px 4px 0px rgba(58, 58, 58, 0.884);
}

.contact-div {
    justify-self: center;
    background-color: #58dd8b;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 2rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    box-shadow: 0px 0px 4px 0px rgba(58, 58, 58, 0.884);
}
.contact-div div {
    display: flex;
    gap: 1rem;
}

.contact-div h2 {
    font-family: myFont, arial;
    font-size: 1.5rem;
    color: #000000;
    align-self: flex-start;

}

.contact-div img {
    max-height: 2rem;
    max-width: 2rem;
}

.footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background: #78557c9c;
        color: #020202;
}

@media only screen and (min-width: 700px) {
    
  
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 3.5rem;
}
/* header area */
.header {
    background-color: #78557c;
    width: 100%;
    
}

.topheader {
    display: flex;
    justify-content: end;
    border-bottom: 1px dotted #F9FAF8;
    gap: 8px;
    margin: 16px;
}
.vd {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 1000;
    flex-grow: 1;
}

.underheader {
    display: flex;
    height: 300px;
    background-color: #78557c;
    gap: 120px;
    margin-bottom: 24px;
    box-shadow: 0px 3px 3px 0px rgba(58, 58, 58, 0.884);
}
.textarea {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 16px;
    color: #F9FAF8;
    flex-grow: 1;
    justify-self: start;
}

.imagen {
    justify-self: end;
    margin-right: 1.5rem;
}

#nego {
    
    justify-self: end;
    align-self: flex-end;
    height: 17rem;
    width: 50rem;
    box-shadow: 20% #07090c;
    border-radius: 10%;
}
ul {
    justify-content: end;
    display: flex;
    gap: 16px;
    font-size: large;
    margin: 24px;
}

.button1 {
    border: none;
    background-color: #f63868;
    border-radius: 10px;
    max-width: 200px;
    max-height: 100px;
    padding: 15px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}
.button1:hover {
    background-color: #e4afc6;
    color: #07090c;
}
/* area of information about products */
.info {
    width: 100%;
    margin-top: 5%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    background-color: #E5E7EB;
    box-shadow: 3px 3px 4px 4px rgba(58, 58, 58, 0.884);
    flex-wrap: wrap;
}

.info-header {
    
    /*margin-bottom: 36px;*/
    color: #1F2937;
    text-align: center;
    justify-self: center;
    /*background-color: #ffffff;*/
    font-family: myFont, arial;
    font-size: 3rem;
    font-weight: 1000;
    width: 100%;

}

.info-food {
    flex-shrink: 1;
    width: 15%;
    height: 5%;
    height: 300px;
    
}

.info-food img {
    border: 10px solid #498192;
    border-radius: 10px;
    padding: 12px;
}

.food-description {
    font-size: 18px;
    color: #1F2937;
}
.adicional {
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    font-family: myFont, arial;
    color: #06152e;
}

/* additional area */
.testimony {
    
    width: 80vw;
    background-color: #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 3px 3px 0px rgba(58, 58, 58, 0.884);
}

.quote {
    
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.author {
    margin-top: 12px;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}
/* "sign up" area */
.contact-div {
    align-self: center;
    background-color: #58dd8b;
    margin-top: 64px;
    border-radius: 10px;
    padding: 36px;
    width: 90vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 3px 3px 0px rgba(58, 58, 58, 0.884);
}

.contact-div div {
    display: flex;
    gap: 1rem;
}

.contact-div h2 {
    margin-top: 0.5rem;
    font-family: myFont, arial;
    font-size: 2rem;
    color: #000000;
}
.contact-div h2:hover {
    font-size: 2.5rem;
}

.contact-div img {
    min-height: 3rem;
    min-width: 3rem;
}
.contact-div img:hover {
    min-height: 3.5rem;
    min-width: 3.5rem;
}
.contact-div a:hover{
    background-color: transparent;
}
/* footer section */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #78557c9c;
    color: #020202;
  }
  /* elements */
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
a:hover {
    background-color: #498192;
    border-radius: 10px;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
}